
<HTML>
    Input a raw hexadecimal transaction
    
    <input id="input">
    <button type="button" onclick="Decode()">Submit</button>
    
<div id=transactions></div>


<script data-main="main2" src="require.js"></script>
<link rel="stylesheet" type="text/css" href="mystyle.css">

</HTML>
