
<script type="text/template" id="headerTransaction">
<table>
  <thead>
    <tr>
      <th>Hash</th>
      <th>Hex</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= transaction.get('hash') %></td>
        <td><%= transaction.get('hex') %></td>
      </tr>
  </tbody>
</table>
</script>